<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IgorTargetUrl" value="http://localhost"/>
    <add key="IgorVersion" value="0.9"/>
    <add key="IgorUrl" value="http://localhost:60284/"/>
    <add key="TempDir" value="D:\Igor\temp" />
    <add key="CurrentEdition" value="3"/>
    <add key="ProgressDisplay" value="1"/>
    <add key="LearningPointsDisplay" value="0"/>
    <add key="Debug" value="1"/>

    <add key="TeachingPrivateLearningPoints" value="1"/>
    <add key="TeachingSchoolLearningPoints" value="1"/>
    <add key="TeachingSchemaLevel" value="8"/>

    <!--Total progress modifiers-->
    <add key="TotalProgressModifierCrafting" value="0.2"/>
    <add key="TotalProgressModifierIdentification" value="1"/>
    <add key="TotalProgressModifierLibrary" value="0.5"/>
    <add key="TotalProgressModifierMentoring" value="2"/>
    <add key="TotalProgressModifierSchool" value="1"/>
    <add key="TotalProgressModifierTeaching" value="3"/>
    <add key="TotalProgressModifierSpecialization" value="1"/>
    <add key="TotalProgressModifierMerit" value="1"/>
    <add key="TotalProgressModifierInit" value="1"/>

  </appSettings>
</configuration>